@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Bus Tracker</h1>
    <p>Safe Rides, Smarter Routes – Track Your School Bus in Real Time! 🚍✨</p>
</div>
